body{
    background: linear-gradient(rgb(81, 81, 233), rgb(163, 228, 163));
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    color: white;
}

form{
    background-color: rgba(0, 0, 0, 0.479);
    color: white;
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
    border: 10px solid rgb(255, 255, 255);
}